extends layout

block content
  .container
    h3(class="text-center") Hello! Welcome to #{title}

    ul.text-center.jumbotron
      each student in students
        li
          a(href='students/'+student._id, target='_blank') #{student.name}
          |  #{student.department}
        hr
      